html {
  background-color: white;
  box-sizing: border-box;
  height: 100%;
  max-height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  color:  #006341;
  font-family: sans-serif;
  font-size: 100%;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  margin: 80px auto;
  max-width: 960px;
}

.grid {
  /* display: grid; */
  /* grid-gap: 2rem; */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  padding: 2rem;
}

.grid > div {
  /* display:  grid; */
}

/* Extra styling */

label {
  color:  inherit;
  display: block;
  margin: 0 0 0.5rem;
}

::-webkit-input-placeholder {
  color: #009639;
}

::-moz-placeholder {
  color: #009639;
}

:-ms-input-placeholder {
  color: #009639;
}

.text-input {
  border:  2px solid #bbb;
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 300;
  padding: 1rem;
  width: 100%;
}

.text-input:focus {
  border-color: #999;
}

.button {
  background-color: #009639;
  border-radius: 0.23rem;
  border: 0;
  color: #ffffff;
  display: inline-block;
  font-family: inherit;
  font-size: 1.125rem;
  font-weight: 400;
  height:  58px;
  margin-top: auto;
  padding: 1rem 1.25rem;
  text-align: center;
  transition: all 250ms ease-in;
}