* {
  box-sizing: border-box;
}

body {
  font-family:  sans-serif;
  margin:  0;
  padding:  4em;
  line-height: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.first-block {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.first-title {
  color:  white;
  font-size:  3em;
  margin: 0;

  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: flex;
  align-items: center;
  justify-content:  center;

}



img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* div:nth-of-type(9) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
   grid-row-end: 2;
} */
